#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  padding: 0 5%;
  position: relative; /* To be on top of the background */
  z-index: 1;
}

.hero-content {
  max-width: 900px;
}

.hero-content h1 {
  font-size: clamp(3rem, 10vw, 6rem); /* Responsive font size */
  color: var(--text-primary);
  margin: 0;
  font-weight: 700;
}

.hero-subtitle {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  color: var(--accent-primary);
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  height: 80px;
}

.hero-description {
  font-size: 1.2rem;
  color: var(--text-secondary);
  line-height: 1.7;
  max-width: 700px;
  margin: 0 auto 2.5rem auto;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.btn-primary {
  background-color: var(--accent-primary);
  color: #fff;
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid var(--accent-secondary);
  color: var(--accent-secondary);
}

.btn-primary:hover {
  background-color: transparent;
  border-color: var(--accent-primary);
  color: var(--accent-primary);
}

.btn-secondary:hover {
  background-color: var(--accent-secondary);
  color: var(--bg-primary);
}